.message {
    background-color: beige;
}

h1 {
    text-align: center;
    color: firebrick;
    font-size: 36px;
    font-weight: 700;
}

p {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px 30px;
}

img {
    width: 250px;
    height: 300px;
    
}